# Auto detect text files and perform LF normalization
* text=auto
algorithm/data/* filter=lfs diff=lfs merge=lfs -text
algorithm/data/raw/train_0001_of_0001.json filter=lfs diff=lfs merge=lfs -text
algorithm/data/processed/full_disease/query2graph_full_annotations.json filter=lfs diff=lfs merge=lfs -text
algorithm/data/processed/full_disease/medical_full_kg_source.jsonl filter=lfs diff=lfs merge=lfs -text
algorithm/data/processed/full_disease/query2graph_full_annotations.json filter=lfs diff=lfs merge=lfs -text
algorithm/data/processed/full_disease/query2graph_full_sharegpt.json filter=lfs diff=lfs merge=lfs -text
algorithm/data/processed/full_disease/query2graph_full_stats.json filter=lfs diff=lfs merge=lfs -text
